<div class="nav">
      <div class="container">
        <ul>
        <li><%= link_to 'Home', root_path %></li>
          <li><%= link_to 'Post', posts_path %></li>
        <li><%= link_to 'Giggle', giggles_path %></li>
          <li><%= link_to 'Comment', comments_path %></li>
          <li>About</li>
          <li>Contact</li>
        </ul>
      </div>
    </div>